doctype html
head
  title Approve Produce
  link(rel='stylesheet' href='css/foApprove.css')
header
  h1 Approve Produce and Products
main
  .card
    h2 Farmer&apos;s Name
    p
      strong Product Name:
      |  Name of product
    p
      strong Product Description:
      |  A brief description of the product
    p
      strong Quantity:
      |  10 kg
    p
      strong Price:
      |  $20
    button Approve
  .card
    h2 Farmer&apos;s Name
    p
      strong Product Name:
      |  Name of product
    p
      strong Product Description:
      |  A brief description of the product
    p
      strong Quantity:
      |  5 kg
    p
      strong Price:
      |  $10
    button Approve
  .card
    h2 Farmer&apos;s Name
    p
      strong Product Name:
      |  Name of product
    p
      strong Product Description:
      |  A brief description of the product
    p
      strong Quantity:
      |  3 liters
    p
      strong Price:
      |  $5
    button Approve
