doctype html
head
  title Upload Produce and Products
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
.container
  h1 Upload Produce and Products
  form(name='register' action ='/uploadProducts' method ='post')
    .form-group
      label(for='fullName') Name:
      input#fullName.form-control(type='text' name='fullName')
      small#fullNameError
    .form-group
      label(for='ward') Ward Name:
      input#ward.form-control(type='text' name='ward')
      small#wardError
    .form-group
      label(for='date') Date:
      input#date.form-control(type='date' name='date')
      small#date
    .form-group
      label(for='unitPrice') Unit Price in Ugx:
      input#unitPrice.form-control(type='number' name='unitPrice')
      small#unitPriceError
    .form-group
      label(for='quantity') Quantity:
      input#quantity.form-control(type='number' name='quantity')
      small#quantityError
    .form-group
      label(for='payment') Mode of Payment:
      select#payment.form-control(name='payment')
        option(value='cash' name='payment') Cash
        option(value='mobile_money' name='payment') Mobile Money
        small#paymentError
    .form-group
      label(for='directions') Directions:
      textarea#directions.form-control(name='directions')
      small#directions
    .form-group
      label(for='delivery') Mode of Delivery:
      select#delivery.form-control(name='delivery' )
        option(value='pick_up' name='delivery') Pick Up
        option(value='home_delivery' name='delivery') Home Delivery
      small#deliveryError
    .form-group
      label(for='produceType') Produce Type:
      select#produceType.form-control(name='produceType' )
        option(value='organic' name='produceType') Organic
        option(value='non_organic' name='produceType') Non-Organic
      small#produceType
    button.btn.btn-success(type='submit') Upload
    button.btn.btn-secondary(type='reset') Reset
// Bootstrap JS
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
